body{
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.box{
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input, button{
    width: 90%;
    padding: 8px;
    margin: 5px;
}

button{
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}

.green{ background: lightgreen; }
.yellow{ background: yellow; }
.red{ background: lightcoral; }